# Attribute geospatial data with seal abundance data
This notebook uses the information on the estimated number of seals per map to attribute the basic grid of geospatial data with seal abundance. It then tabulates the resulting raster, where each column is one of the geospatial datasets, and there is a column for seal abundance. The resulting table is saved and becomes the basic input for the modeling of factors deteriming the presence and abundance of seals throughout the entire continent.  
  
Run this file every time a new geospatial covariate is added to the collection.

### Loading the required libraries and other dependencies

In [22]:
## Clear memory
rm(list=ls())
gc()

       used    (Mb) gc trigger (Mb)  max used (Mb)
Ncells 1253705 67.0  2637877   140.9  2637877 140.9
Vcells 1947600 14.9 20946594   159.9 26165585 199.7

In [23]:
libs<-c("ggplot2","plyr","dplyr","sp","rgeos","raster","rgdal")
lapply(libs, require, character.only = TRUE)
pathToLocalGit<-"/home/ubuntu/Workspace/ContinentalWESEestimates/"

## load the WESE map data
load(file=paste0(pathToLocalGit,"data/FinalWESEcounts.RData"))

## Load the current table of data
load(file=paste0(pathToLocalGit,"data/studyarea_points_wNearLand.RData"))

## Source the functions file
source(paste0(pathToLocalGit,"scripts/countSealsFromTags_functions.R"))
 
cdf<-as.data.frame(studyarea_pointswLand,xy=TRUE)

[[1]]
[1] TRUE

[[2]]
[1] TRUE

[[3]]
[1] TRUE

[[4]]
[1] TRUE

[[5]]
[1] TRUE

[[6]]
[1] TRUE

[[7]]
[1] TRUE

The current table of data is a spatial data.frame of a 5 km grid of cells, with geospatial attributes for each cell. We want to add one more attribute to this cell: WESE abundance. We use the WESE data frame for this purpose. So, we first attribute the WESE data, which are summarized by 500-m maps, with the cellId of the 5-km grid. We then aggregate the map counts by (add up to) the 5-km cellId. Finally, we merge the WESE data to the geospatial data, and save as data.frame. 
We use a function that does this, using UTM coordinates

In [ ]:
wese5k<-getWESEcountsBy5km(gdf=studyarea_pointswLand,wesedf=unique(countdf[,c("regionMapId","mapcoords.x1","mapcoords.x2")]))

In [25]:
head(wese5k)

   regionMapId mapcoords.x1 mapcoords.x2 pointid
1  AMU101663   -1816006     143453.4     170320
3  AMU102072   -1808177     144061.5     170322
5  AMU102099   -1836031     135076.1     170413
7  AMU103615   -1835618     135045.7     170413
9  AMU103695   -1836443     135106.4     170413
11 AMU103791   -1836076     134457.2     170413

In [26]:
## Checking
sum(is.na(wese5k$pointid))
nrow(wese5k)==nrow(unique(countdf[,c("regionMapId","mapcoords.x1","mapcoords.x2")]))
nrow(wese5k)*2==nrow(countdf)

[1] 0

[1] TRUE

[1] TRUE

In [27]:
## Now we merge with countdf
## But before we do that, I think we may have problems with coordinates for some points

[1] 34990

In [21]:
17495*2

[1] 34990